@import '_variables';

* {
  font-family: $font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //background-color: rgb(226, 215, 223);
  background-color: rgb(183, 223, 231);
  margin: 10vw;
  height: auto;
  width: auto;
}

.apka {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
